<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Travel Log!</h1>
        <h2>Enter your travel history:</h2>
        <form action="/traveldetails" method="post">
            <label for="cityName">City Name:</label>
            <input name="cityName" id="cityName" type="text">
            <label for="timeStayed">How long did your trip last?:</label>
            <input name="timeStayed" id="timeStayed" type="text">
            <label for="journal">Journal entry about your trip:</label>
            <input name="journal" id="journal" type="text">
            <button type="submit">Submit</button>
        </form>
    </body>   
</html>